{% extends 'main.html' %}
{% load static %}

{% block insidehead %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock insidehead %}

{% block content %}
{% include 'message.html' %}

<div class="container my-5">
  <div class="judul-categori" style="background-color: white; padding:10px;">
    <h5 class="text-center">PRODUCTS</h5>
    <div class="row">

      {% for product in products %}

      <div class="col-lg-2 col-md-2 col-sm-4 col-6 mt-2">
        <div class="card text-center">
          <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}" style="object-fit: cover; object-position: center;"
            height="200px">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text mt-2">Rp {{product.price}}</p>
            <a href="{% url 'product-detail' market_name=product.seller_id product_name=product.name %}" class="btn btn-dark d-grid">Buy</a>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
</div>

<br><br><br><br>
{% endblock content %}