{% load static %}

<footer class="bg-dark p-5 mt-5 text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/" class="text-decoration-none">
                    <img src="{% static 'img/logo.png' %}" alt="" width="30px">
                </a>
                <span>Copyright <i class="uil uil-copyright"></i>2022 | Created and Developed by <a href="https://www.linkedin.com/in/ahmad-muhajir-syamlan/" class="text-decoration-none fw-bold text-white">Ahmad Muhajir</a></span>
            </div>

            <div class="col-md-6 text-end">
                <a href="https://www.linkedin.com/in/ahmad-muhajir-syamlan/" class="text-decoration-none" target="_blank">
                    <i class="uil uil-linkedin me-2" style="font-size: 30px; color: #fff;"></i>
                </a>
                <a href="https://www.instagram.com/amuhajirs/" class="text-decoration-none" target="_blank">
                    <i class="uil uil-instagram me-2" style="font-size: 30px; color: #fff;"></i>
                </a>
                <a href="https://github.com/JeremyJFN71" class="text-decoration-none" target="_blank">
                    <i class="uil uil-github me-2" style="font-size: 30px; color: #fff;"></i>
                </a>
            </div>
        </div>
    </div>
</footer>