{% load static %}

<style>
  button:focus {
    outline: none;
    border: none;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/logo.png' %}" alt="Logo" width="40" height="40" class="me-2">
      MarketPedia
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <form class="d-flex ms-auto my-4 my-lg-0" role="search">
        <input class="form-control me-2 form-search rounded-pill px-3" type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit"><i class="uil uil-search text-white fs-5"></i></button>
      </form>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {{home}}" href="{% url 'home' %}">Home</a>
        </li>

        <hr>

        <li class="nav-item">
          <a class="nav-link {{product}}" href="{% url 'products' %}">Product</a>
        </li>

        <hr>

        <li class="nav-item">
          <a class="nav-link {{contact}}" href="{% url 'contact' %}">Contact</a>
        </li>

        <hr>
      </ul>


      {% if user.is_authenticated %}
      <div class="dropdown">
        <button class="btn nav-link btn-link dropdown-toggle btn-user" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="{{user.profile.image.url}}" alt="{{user.profile.user.username}}"
            class="rounded-circle border border-primary border-3" width="40" height="40"
            style="object-fit: cover; background-color: white;">
        </button>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
          <li><span class="dropdown-item-text">Signed in as <br><b style="font-size: 17px;">{{user}}</b></span></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'myprofile' %}">My Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'mymarket' %}">My Market</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'signout' %}">Log Out</a></li>
        </ul>
      </div>

      {% else %}
      <a class="nav-link" href="{% url 'signin' %}"><button type="button" class="btn btn-outline-light btn-user">Sign
          In</button></a>
      <a class="nav-link" href="{% url 'signup' %}"><button type="button" class="btn btn-light btn-user">Sign Up</button></a>

      {% endif %}
    </div>

  </div>
</nav>